@import 'styles/variables.scss';
.bg-top-login{
    background-color: #214e42fa;
    text-align: center;
}
.bg-top-login img{
    width: 85%;
}

.img-login{
    max-width: 90%;
    text-align: center;
}